# env vars
.env*
!.env.example

# nexus/prisma
*.db
dist/

# misc
node_modules
package-lock.json
.eslintignore
.idea
coverage/
.eslintcache
.DS_Store
prisma/migrations/20201111205521-init/steps.json
prisma/migrations/20201111205521-init/steps.json
prisma/migrations/migrate.lock
